
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
#root {
  max-width: 999999999px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes cf3FadeInOut 
{
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

#cf3 img.top 
{
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}

.top
{
    width: 100%;
    opacity: 80%;
    z-index: -5;
    left: 0;  
    position: relative;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.bottom {
    width: 100%;
    height: auto;
    top: -0%;
    z-index: -6;
    position: absolute;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#navbar_title {
  color: black;
  left: 10%;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  font-size: 3rem;
  transition: color 0.2s ease;
}
#navbar_title:hover {
  color:rgb(110, 108, 107)
}

.navbar {
    /*background: white;*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 4000px;
    margin: 0 auto; /*first number is distance from top and bottom, second number is left and right. Can also specify every value with 0 0 0 0*/
    padding: 0 50px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    padding-right: 10%;
    gap: 10px
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
}

.contact_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border-radius: 4px ;
    background-color: rgb(110, 108, 107);
    color: #fff;
    margin-left: 25%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.scrolling_active {
    background-color: white;
    box-shadow: 0 3px 1rem rgba( 0, 0, 0, .1 );
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
  }  

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein1
{
    opacity: 0;
    transition: opacity 1.5s;
}

.fadein2
{
    opacity: 0;
    transition: 2s;
}


.header 
{
    position: relative;  
    height: 130px;
    /*check how to make it so that when the screen is minimized, the ryan jing is centered, and not to the left side*/
    /*
    opacity:0;
    transition:2s;
    */
}

.header p 
{
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Caudex', serif;
    font-weight: 100;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

}

.header2
{
    position: relative;  
    height: 120px;

}

.header2 p
{ 
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.header2::after {
  content: '\00A0'; /* Unicode character for non-breaking space */
  display: inline-block;
  width: 10px; /* Adjust the width to create the desired gap between words */
}

.scroll-button
{
    position: absolute;
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 92%;
    background-color: transparent;
}

.scroll-button1
{
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 25%;
}

.down-button
{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: auto;
    background-color: transparent;

}

.header3 {
    position: relative;  
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    opacity: 0;
    transition: 3s; 
    font-size: 2.5rem;
}

.header4
{
    position: relative;  
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
}

.header4 p
{ 
    position: relative;  
    font-size: 3rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
}

.Descript_header
{
    position: relative;  
    height: 120px;
    max-width: 1600px;
    
}

.Descript_header p1
{ 
    display: flex;
    font-family: "Avenir-Light", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    font-weight: 0;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    transform: translate(0%, 70%);
}

.Descript_header p
{ 
    display: flex;
    font-family: "Avenir-Light", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    font-weight: 0;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    transform: translate(0%, 150%);
}

.Descript_content
{
    position: relative;  
    height: 65px;
    z-index: 10;
    max-width: 1600px;
}

.Descript_content p
{ 
    display: flex;
    text-align: left;
    font-family: "Avenir-Light", sans-serif;
    font-weight: 200;
    font-size: 1 rem;
    font-weight: 0;
    position: relative;
    margin-top: -8.5%;
    margin-left: 40%;
    margin-right: 5%;
}

.Descript_content p1
{ 
    display: flex;
    text-align: left;
    font-family: "Avenir-Light", sans-serif;
    font-weight: 200;
    font-size: 1 rem;
    font-weight: 0;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 20%;
}

.Arduino_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10%;
}

.Arduino_video video {
  max-width: 100%;
  position: relative;
}

.EMG_media {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10%;
    margin-left: 5%;
}

.EMG_media p1 {
    position: relative;
    margin-top: -5%;
    margin-left: 10%;
    margin-right: 65%;
    max-width: 45%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
}


.EMG_media video {
    max-width: 100%;
    position: relative;
}

.EMG_media p2 {
    position: relative;
    margin-top: -35%;
    margin-left: 50%;
    margin-right: 20%;
    max-width: 45%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
}

.whitestrip 
{
    width: 100px;
    overflow: hidden;
    position: relative;
    border: red;
    margin-top: -56%;
    margin-left: 83%;
    margin-right: 5%;
    z-index: 20;
}

.box 
{
    margin: 12em auto;
    overflow: hidden;
    width: 1100px;
    height: 600px;
    margin-top: 8%;
    display: block;
    position: relative;
    margin-bottom: 5%;
}

.ratio
{
    position: relative;
}

.ratio::before 
{
    background: rgba(0,0,0,.5);
    color: white;
    display: block;
    left: 0;
    padding: .25em;
    position: absolute;
    top: 0;
    z-index: 10;
}

.ratio-1\:1 { padding-top: 100%; }

.crop 
{
    background: white;
    overflow: hidden;
    position: relative;
    display: flex;
}

.crop > * 
{
    height: 100%;
    position: absolute;
    transform: translateX(-62%) translateY(-50%);
    top: 32%;
    left: 57.5%;
}

.scroll-button2 {
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: -5%;
    margin-bottom: -15%;
}

  
.Image_Display {
    display:flex;
    gap: 5px;
    margin-top: 5%;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.Image_Display img {
    max-width: 45%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
}

.Image_Display video {
    max-width: 45%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
}

.Image_Display_Solo {
    display:flex;
    gap: 5px;
    margin-top: 5%;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.Image_Display_Solo img {
    max-width: 40%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
}


.footer {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 999;
    box-shadow: 0 -3px 1rem rgba( 0, 0, 0, .1 );
}

.footer footerContent{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 4000px;
    align-items: center;
    justify-content: center;
}

.footer a {
    position: relative;  
    font-size: 3rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    color: black;
    margin-left: 20%;
}

/* ABOUT ME PAGE CSS */

.Profile_Header {
    position: relative;  
}

.Profile_Header p1 
{
    display: flex;
    align-items: center;
    font-size: 8rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    margin-top: 2%;
    margin-left: 10%;
    position: relative;
}

.Profile_Image {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    position: relative;
    margin-left: 45%;
    margin-top: -12%;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;
}


.Profile_Header p2 
{
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-family: 'Avenir-Light', serif;
    font-weight: 200;
    margin-top: -31%;
    margin-right: 60%;
    margin-left: 10.5%;
    position: relative;
}

.Experience_Header {
    position: relative;  
    height: 40px;
    margin-top: 23%;
}


/* CONTACT PAGE CSS */

.Contact_Info {
    text-align: left;
    font-size: 1rem;
    font-family: 'Avenir-Light', serif;
    font-weight: 200;
    margin-left: 41%;
    margin-top: 0%;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

.Contact_Info ul {
  list-style-type: none;
  padding: 0;
  margin-left: 4%;
}

.Contact_Info li {
  margin-bottom: 5px;
}

/* Style the bullet points */
.Contact_Info li::before {
  content: "•"; 
  display: inline-block;
  width: 1em; /* Adjust the width to control the spacing between the bullet and text */
  margin-left: -1em; 
  margin-right: 5px; /* Space between the bullet and text */
  color: #535557; /* Color of the bullet */
  font-weight: bold; 
}

.Contact_Info a1 {
    color: #000000;
    cursor: pointer; /* Change cursor on hover to a hand pointer */
    user-select: all; /* Allow text selection on click */
    transition: color 0.3s ease; /* Add a smooth color transition effect */
}

.Contact_Info a1:hover {
  color: #a09f9f; /* Change to a different color on hover */
}

.Contact_Info a {
    color: #164ecf;
}
  
h1 {
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}
.contact_background {
    position: absolute;
    width: 30%;
    height: 70%;
    margin-left: 0%;
    margin-right: 50%;
    z-index: -999;
    margin-top: 4%;
    top: 0;
}

input[type="text"],
input[type="email"],

.form_content {
    width: 40%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    margin-left: 38%;
    margin-right: 15%;
    font-family: 'Caudex', serif;
    font-weight: 200;
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

.form_submit[type="submit"] {
    background-color: #393b3e;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 12%;
    font-family: 'Caudex', serif;
    font-weight: 200;
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

.form_submit[type="submit"]:hover {
    background-color: #7c7e80;
}

@keyframes cf4FadeInOut 
{
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

#cf4 img.topContact
{
animation-name: cf4FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 0.5s;
animation-direction: alternate;
}

.topContact
{
    width: 99%;
    z-index: -5;
    left: 0;  
    position: relative;
    margin-bottom: -2%;
    margin-top: -9.5%;

}

.bottomContact {
    width: 99%;
    height: auto;
    top: -0%;
    z-index: -6;
    position: absolute;
    margin-bottom: -2%;
    margin-top: -9.5%;
}

.footerContainer {
    height: 180px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -3px 1rem rgba( 0, 0, 0, .1 );
}

.footerContent{
    margin-top: 4%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} 

.footerContainer a {
    position: relative;  
    font-size: 3rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    color: black;
}

